<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".ui.MApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_lauch"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_lauch"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme">
        <activity android:name="com.jsycn.pj_project.ui.activity.view.DialogActivity"/>
        <activity android:name="com.jsycn.pj_project.ui.activity.HomeActivity" />
        <activity android:name="com.jsycn.pj_project.ui.activity.LeakCanaryActivity2" />
        <activity android:name="com.jsycn.pj_project.ui.activity.LeakCanaryActivity"/>
        <activity android:name="com.jsycn.pj_project.ui.activity.CoordinatorLayoutActivity"/>
        <activity android:name="com.jsycn.pj_project.ui.activity.SmartRefreshTestActivity"/>
        <activity android:name="com.jsycn.pj_project.ui.activity.chat.ChatGptAct"/>
        <activity
            android:name=".testcls.activitymode.DModeAct"
            android:launchMode="singleInstance" />
        <activity
            android:name=".testcls.activitymode.CModeAct"
            android:launchMode="singleTask"
            android:taskAffinity="com.pj.cc" />
        <activity
            android:name=".testcls.activitymode.BModeAct"
            android:launchMode="singleTask" />
        <activity android:name=".testcls.activitymode.AModeAct"/>
        <activity android:name=".testcls.fragmenttest.FragmentLifeTestActivity"/>
        <activity android:name=".ui.activity.MainActivity"/>
        <activity
            android:exported="true"
            android:name=".ui.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- album连续拍照测试 -->
        <activity android:name="com.jsycn.pj_project.ui.activity.LianXupaizhaoTest" />
        <activity android:name="com.jsycn.pj_project.ui.activity.LottieTestAct" />
        <activity android:name="com.jsycn.pj_project.ui.activity.StockActivity"/>
        <activity android:name="com.jsycn.pj_project.ui.activity.StockDetailsActivity"/>
        <activity android:name="com.jsycn.pj_project.ui.activity.view.ProgressActivity"/>
        <activity android:name="com.jsycn.pj_project.core.mvvm.test.TestMVVMActivity"/>
    </application>

</manifest>